insert into sys_menu (menu_id, system_id, tenant_id, parent_id, menu_name, path, component, menu_type, visible, perms, icon, sort, create_by, remark)
values
              -- 菜单 SQL
              (11000, 0, 0, '${parentMenuId}', '${functionName}', '${businessName}',   '${moduleName}/${businessName}/index',      'C', '0',  '${permissionPrefix}:list',      '#',   1, 0, '${functionName}菜单'),
                                   -- 按钮 SQL
                                   (11001, 0, 0, 11000, '${functionName}查询', '', '', 'F', '0', '${permissionPrefix}:query',           '#', 1, 0, ''),
                                   (11002, 0, 0, 11000, '${functionName}新增', '', '', 'F', '0', '${permissionPrefix}:add',             '#', 2, 0, ''),
                                   (11003, 0, 0, 11000, '${functionName}修改', '', '', 'F', '0', '${permissionPrefix}:edit',            '#', 3, 0, ''),
                                   (11004, 0, 0, 11000, '${functionName}删除', '', '', 'F', '0', '${permissionPrefix}:remove',          '#', 4, 0, ''),
                                   (11005, 0, 0, 11000, '${functionName}导出', '', '', 'F', '0', '${permissionPrefix}:export',          '#', 4, 0, '');

                                   -- menu_id、parent_id需手动进行配置（分布式Id无法自动获取）
                                   -- system_id、tenant_id根据自己需要设置
                                   -- tenant_id = 0 代表所有租户都可看到
                                   -- system_id = 0 代表该菜单只可再system_id为0的系统中看到（租户系统如果未修改system_id则默认未0）