<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.system.authority.mapper.SysSystemMapper">

    <resultMap type="SysSystem" id="SysSystemResult">
        <id     property="systemId"         column="system_id"   />
        <result property="name"             column="name"        />
        <result property="imageUrl"         column="image_url"   />
        <result property="type"             column="type"        />
        <result property="route"            column="route"       />
        <result property="isMain"           column="is_main"     />
        <result property="isChange"         column="is_change"   />
        <result property="isNew"            column="is_new"      />
        <result property="sort"       		column="sort"        />
        <result property="status"       	column="status"      />
        <result property="createBy"   		column="create_by"   />
        <result property="createName"   	column="create_name" />
        <result property="createTime" 		column="create_time" />
        <result property="updateBy"   		column="update_by"   />
        <result property="updateName"   	column="update_name" />
        <result property="updateTime" 		column="update_time" />
        <result property="remark" 			column="remark" 	 />
    </resultMap>

    <sql id="selectVo">
        select s.system_id, s.name, s.image_url, s.type, s.is_new, s.route, if(s.tenant_id = 0, 'Y','N') as is_main, s.is_change, s.sort, s.status, s.create_by, s.create_time, s.update_by, s.update_time, s.remark
        from xy_system s
    </sql>

    <sql id="RouteVo">
        select distinct s.system_id, s.name, s.image_url, s.is_new, s.type, s.route, if(s.tenant_id = 0, 'Y','N') as is_main, s.is_change, s.sort, s.status, s.remark
        from xy_system s
    </sql>

    <select id="AdminHomePageView" parameterType="SysSystem" resultMap="SysSystemResult">
        <include refid="RouteVo"/>
        where s.status = '0' and s.is_change = 'N'
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by s.sort
    </select>

    <select id="selectSystemViewList" parameterType="SysSystem" resultMap="SysSystemResult">
        <include refid="RouteVo"/>
        where s.status = '0' and s.is_change = 'N'
        <if test="null != params.roleSystemPerms and params.roleSystemPerms.size > 0">
            and s.system_id in
            <foreach collection="params.roleSystemPerms" index="index" item="item" open="(" separator="," close=")">
                #{item.systemMenuId}
            </foreach>
        </if>
        <if test="null == params.roleSystemPerms or params.roleSystemPerms.size == 0">
            and 1 != 1
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by s.sort
    </select>

    <select id="selectSystemList" parameterType="SysSystem" resultMap="SysSystemResult">
        <include refid="selectVo"/>
        where s.is_change = 'N'
        <if test="name != null  and name != ''"> and s.name like concat('%', #{name}, '%')</if>
        <if test="type != null  and type != ''"> and s.type = #{type}</if>
        <if test="route != null  and route != ''"> and s.route = #{route}</if>
        <if test="status != null  and status != ''"> and s.status = #{status}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by s.sort
    </select>

    <select id="buildSystemMenuTreeSelect" parameterType="SysSystem" resultMap="SysSystemResult">
        <include refid="selectVo"/>
        where 1 = 1
        <if test="systemId != null">and s.system_id != #{systemId}</if>
        <if test="status != null and status != ''">and s.status = #{status}</if>
        <choose>
            <when test="params.onlyList != null and params.onlyList.size() > 0">
                and s.system_id in
                <foreach collection="params.onlyList" index="index" item="item" open="(" separator="," close=")">
                    #{item.systemMenuId}
                </foreach>
            </when>
            <when test="params.excludeList != null and params.excludeList.size() > 0">
                and s.system_id not in
                <foreach collection="params.excludeList" index="index" item="item" open="(" separator="," close=")">
                    #{item.systemMenuId}
                </foreach>
            </when>
        </choose>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by s.sort
    </select>

    <select id="buildSystemMenuTreeSelectOnlyPublic" parameterType="SysSystem" resultMap="SysSystemResult">
        <include refid="selectVo"/>
        where s.tenant_id = 0
        <if test="systemId != null">and s.system_id != #{systemId}</if>
        <if test="status != null and status != ''">and s.status = #{status}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by s.sort
    </select>

    <select id="selectSystemById" parameterType="SysSystem" resultMap="SysSystemResult">
        <include refid="selectVo"/>
        where s.system_id = #{systemId}
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <insert id="insertSystem" parameterType="SysSystem">
        insert into xy_system
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="snowflakeId != null">                            system_id               ,</if>
            <if test="name != null and name != ''">                    name                    ,</if>
            <if test="imageUrl != null and imageUrl != ''">            image_url               ,</if>
            <if test="type != null and type != ''">                    type                    ,</if>
            <if test="isNew != null and isNew != ''">                  is_new                  ,</if>
            <if test="route != null and route != ''">                  route                   ,</if>
            <if test="sort != null">                                   sort                    ,</if>
            <if test="status != null and status != ''">                status                  ,</if>
            <if test="createBy != null">                               create_by               ,</if>
            <if test="remark != null and remark != ''">                remark                  ,</if>
            <if test="enterpriseId != null">                           tenant_id               ,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="snowflakeId != null">                            #{snowflakeId}          ,</if>
            <if test="name != null and name != ''">        #{name}           ,</if>
            <if test="imageUrl != null and imageUrl != ''">            #{imageUrl}             ,</if>
            <if test="type != null and type != ''">                    #{type}                 ,</if>
            <if test="isNew != null and isNew != ''">                  #{isNew}                ,</if>
            <if test="route != null and route != ''">                  #{route}                ,</if>
            <if test="sort != null">                                   #{sort}                 ,</if>
            <if test="status != null and status != ''">                #{status}               ,</if>
            <if test="createBy != null">                               #{createBy}             ,</if>
            <if test="remark != null and remark != ''">                #{remark}               ,</if>
            <if test="enterpriseId != null">                           #{enterpriseId}         ,</if>
        </trim>
    </insert>

    <update id="updateSystem" parameterType="SysSystem">
        update xy_system
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">                    name = #{name}                 ,</if>
            <if test="imageUrl != null and imageUrl != ''">            image_url = #{imageUrl}        ,</if>
            <if test="type != null and type != ''">                    type = #{type}                 ,</if>
            <if test="isNew != null and isNew != ''">                  is_new = #{isNew}              ,</if>
            <if test="route != null and route != ''">                  route = #{route}               ,</if>
            <if test="sort != null">                                   sort = #{sort}                 ,</if>
            <if test="status != null and status != ''">                status = #{status}             ,</if>
            <if test="updateBy != null">                               update_by = #{updateBy}        ,</if>
            <if test="remark != null">                                 remark = #{remark}             ,</if>
        </trim>
        where system_id = #{systemId}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </update>

    <update id="updateSystemStatus" parameterType="SysSystem">
        update xy_system
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null and status != ''">                status = #{status}             ,</if>
        </trim>
        where system_id = #{systemId}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </update>

    <delete id="deleteSystemByIds" parameterType="SysSystem">
        update xy_system set del_flag = 1
        where system_id in
        <foreach item="systemId" collection="params.Ids" open="(" separator="," close=")">
            #{systemId}
        </foreach>
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>
</mapper>
