package ${packageName}.mapper.merge;

import com.xueyi.common.web.entity.mapper.BaseMapper;
import ${packageName}.domain.merge.${ClassName};
import com.xueyi.common.datasource.annotation.${sourceMode};

/**
 * ${functionName} 数据层
 *
 * @author ${author}
 */
@${sourceMode}
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {
}