<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.tenant.mapper.CreationMapper">

    <resultMap type="Tenant" id="NewTenantResult">
        <id     property="tenantId"                 column="tenant_id"                  />
        <result property="tenantName"               column="tenant_name"                />
    </resultMap>

    <insert id="createDeptByTenantId" parameterType="Tenant">
        insert into sys_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="params.dept.deptId != null">                                           dept_id                                      ,</if>
            <if test="params.dept.deptName == null">                                         dept_name                                    ,</if>
            <if test="params.dept.deptName != null and params.dept.deptName != ''">          dept_name                                    ,</if>
                                                                                             tenant_id                                    ,
                                                                                             parent_id                                    ,
                                                                                             ancestors
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="params.dept.deptId != null">                                           #{params.dept.deptId}                        ,</if>
            <if test="params.dept.deptName == null">                                         '主部门'                                      ,</if>
            <if test="params.dept.deptName != null and params.dept.deptName != ''">          #{params.dept.deptName}                      ,</if>
                                                                                             #{tenantId}                                  ,
                                                                                             0                                            ,
                                                                                             '0'
        </trim>
    </insert>

    <insert id="createPostByTenantId" parameterType="Tenant">
        insert into sys_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="params.post.postId != null">                                           post_id                                      ,</if>
            <if test="params.post.deptId != null">                                           dept_id                                      ,</if>
            <if test="params.post.postName == null">                                         post_name                                    ,</if>
            <if test="params.post.postName != null and params.post.postName != ''">          post_name                                    ,</if>
                                                                                             tenant_id                                    ,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="params.post.postId != null">                                           #{params.post.postId}                        ,</if>
            <if test="params.post.deptId != null">                                           #{params.post.deptId}                        ,</if>
            <if test="params.post.postName == null">                                         '主岗位'                                      ,</if>
            <if test="params.post.postName != null and params.post.postName != ''">          #{params.post.postName}                      ,</if>
                                                                                             #{tenantId}                                  ,
        </trim>
    </insert>

    <insert id="createUserByTenantId" parameterType="Tenant">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="params.user.userId != null">                                           user_id                                      ,</if>
            <if test="params.user.deptId != null">                                           dept_id                                      ,</if>
            <if test="params.user.postId != null">                                           post_id                                      ,</if>
            <if test="params.user.userName == null">                                         user_name                                    ,</if>
            <if test="params.user.userName != null and params.user.userName != ''">          user_name                                    ,</if>
            <if test="params.user.nickName == null">                                         nick_name                                    ,</if>
            <if test="params.user.nickName != null and params.user.nickName != ''">          nick_name                                    ,</if>
            <if test="params.user.password == null">                                         password                                     ,</if>
            <if test="params.user.password != null and params.user.password != ''">          password                                     ,</if>
            <if test="params.user.email != null and params.user.email != ''">                email                                        ,</if>
            <if test="params.user.phone != null and params.user.phone != ''">                phone                                        ,</if>
                                                                                             tenant_id                                    ,
                                                                                             user_type
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="params.user.userId != null">                                           #{params.user.userId}                        ,</if>
            <if test="params.user.deptId != null">                                           #{params.user.deptId}                        ,</if>
            <if test="params.user.postId != null">                                           #{params.user.postId}                        ,</if>
            <if test="params.user.userName == null">                                         'admin'                                      ,</if>
            <if test="params.user.userName != null and params.user.userName != ''">          #{params.user.userName}                      ,</if>
            <if test="params.user.nickName == null">                                         '超级管理员'                                   ,</if>
            <if test="params.user.nickName != null and params.user.nickName != ''">          #{params.user.nickName}                      ,</if>
            <if test="params.user.password == null">                                         '$2a$10$7JB720yubVSZvUI0rEqK/.VqGOZTH.ulu33dHOiBE8ByOhJIrdAu2'  ,</if>
            <if test="params.user.password != null and params.user.password != ''">          #{params.user.password}                      ,</if>
            <if test="params.user.email != null and params.user.email != ''">                #{params.user.email}                         ,</if>
            <if test="params.user.phone != null and params.user.phone != ''">                #{params.user.phone}                         ,</if>
                                                                                             #{tenantId}                                  ,
                                                                                             '00'
        </trim>
    </insert>

    <insert id="createRoleByTenantId" parameterType="Tenant">
        insert into sys_role ( role_id, name, type, derive_id, tenant_id ) values
                             ( #{params.role.roleId}, #{params.role.name}, #{params.role.type}, #{tenantId}, #{tenantId} ),
                             ( #{params.deriveRole.roleId}, #{params.deriveRole.name}, #{params.deriveRole.type}, #{tenantId}, #{tenantId} );
    </insert>

    <insert id="createOrganizeRoleByTenantId" parameterType="Tenant">
        insert into sys_organize_role ( derive_enterprise_id, derive_tenant_id, role_id, tenant_id ) values
                                      ( null, #{tenantId}, #{params.role.roleId}, #{tenantId} ),
                                      ( #{tenantId}, null, #{params.deriveRole.roleId}, #{tenantId} );
    </insert>

</mapper>