<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.tenant.mapper.NewTenantMapper">

    <resultMap type="Tenant" id="NewTenantResult">
        <id     property="tenantId"                 column="tenant_id"                  />
        <result property="tenantName"               column="tenant_name"                />
    </resultMap>

    <insert id="createDeptByTenantId" parameterType="Tenant">
        insert into sys_dept (dept_id, tenant_id, parent_id, ancestors, dept_name)
            value (#{params.deptId}, #{tenantId}, 0, '0', '主部门')
    </insert>

    <insert id="createPostByTenantId" parameterType="Tenant">
        insert into sys_post (post_id, tenant_id, dept_id, post_name)
            value (#{params.postId}, #{tenantId}, #{params.deptId}, '主岗位')
    </insert>

    <insert id="createUserByTenantId" parameterType="Tenant">
        insert into sys_user (user_id, tenant_id, dept_id, post_id, user_name, nick_name, user_type, password)
            value (#{params.userId}, #{tenantId}, #{params.deptId}, #{params.postId}, 'admin', '超级管理员', '00', '$2a$10$7JB720yubVSZvUI0rEqK/.VqGOZTH.ulu33dHOiBE8ByOhJIrdAu2')
    </insert>
</mapper>