<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.tenant.mapper.TenantSourceMapper">

    <resultMap type="TenantSource" id="TenantSourceResult">
        <id     property="sourceId"         column="source_id"                              />
        <result property="name"             column="name"                                   />
        <result property="databaseType"     column="database_type"                          />
        <result property="slave"            column="slave"                                  />
        <result property="driverClassName"  column="driver_class_name"                      />
        <result property="url"              column="url"                                    />
        <result property="username"         column="username"                               />
        <result property="password"         column="password"                               />
        <result property="type"             column="type"                                   />
        <result property="sort"             column="sort"                                   />
        <result property="status"           column="status"                                 />
        <result property="createBy"   		column="create_by"                              />
        <result property="createName"   	column="create_name"                            />
        <result property="createTime"       column="create_time"                            />
        <result property="updateBy"   		column="update_by"                              />
        <result property="updateName"   	column="update_name"                            />
        <result property="updateTime"       column="update_time"                            />
        <collection property="values" javaType="java.util.List" resultMap="valuesResult"    />
    </resultMap>

    <resultMap type="TenantSourceValue" id="valuesResult">
        <id     property="sourceId"         column="sub_source_id"                          />
        <result property="name"             column="sub_name"                               />
        <result property="databaseType"     column="sub_database_type"                      />
        <result property="slave"            column="sub_slave"                              />
        <result property="driverClassName"  column="sub_driver_class_name"                  />
        <result property="url"              column="sub_url"                                />
        <result property="username"         column="sub_username"                           />
        <result property="password"         column="sub_password"                           />
        <result property="type"             column="sub_type"                               />
        <result property="sort"             column="sub_sort"                               />
        <result property="status"           column="sub_status"                             />
    </resultMap>

    <sql id="selectVo">
        select e.source_id, e.name, e.database_type, e.slave, e.driver_class_name, e.url, e.username, e.password, e.type, e.sort, e.status, e.create_by, e.create_time, e.update_by, e.update_time
        from xy_tenant_source e
    </sql>

    <sql id="subVo">
        select e.source_id, e.name, e.database_type, e.driver_class_name, e.slave, e.url, e.username, e.password, e.type, e.sort, e.status,
               b.source_id as sub_source_id, b.name as sub_name, b.database_type as sub_database_type, b.slave as sub_slave, b.driver_class_name as sub_driver_class_name, b.url as sub_url, b.username as sub_username, b.password as sub_password, b.type as sub_type, b.sort as sub_sort, b.status as sub_status
        from xy_tenant_source e
                 left join xy_tenant_separation ts on ts.write_id = e.source_id
                 left join xy_tenant_source b on b.source_id = ts.read_id
    </sql>

    <select id="selectTenantSourceList" parameterType="TenantSource" resultMap="TenantSourceResult">
        <include refid="selectVo"/>
        where e.del_flag = 0
        <if test="name != null  and name != ''"> and e.name like concat('%', #{name}, '%')</if>
        <if test="databaseType != null  and databaseType != ''"> and e.database_type = #{databaseType}</if>
        <if test="slave != null  and slave != ''"> and e.slave = #{slave}</if>
        <if test="type != null  and type != ''"> and e.type = #{type}</if>
        <if test="status != null  and status != ''"> and e.status = #{status}</if>
        order by e.sort
    </select>


    <select id="selectTenantSourceById" parameterType="TenantSource" resultMap="TenantSourceResult">
        <include refid="selectVo"/>
        where e.source_id = #{sourceId} and e.del_flag = 0
    </select>

    <select id="selectTenantSeparationList" parameterType="TenantSource" resultMap="TenantSourceResult">
        <include refid="subVo"/>
        where ( e.type = '0' or e.type = '2' )
        and e.status = '0' and e.del_flag = 0 and ( b.source_id is null or ( b.source_id is not null and b.status = '0' and b.del_flag = 0 ) )
        <if test="name != null  and name != ''"> and e.name like concat('%', #{name}, '%')</if>
        <if test="databaseType != null  and databaseType != ''"> and e.database_type = #{databaseType}</if>
        <if test="slave != null  and slave != ''"> and e.slave = #{slave}</if>
        order by e.sort
    </select>

    <select id="selectContainReadList" parameterType="TenantSource" resultMap="TenantSourceResult">
        <include refid="selectVo"/>
        left join xy_tenant_separation ts on ts.read_id = e.source_id
        where e.status = '0' and e.del_flag = 0 and ( ( e.type = '1' and ts.read_id is null ) or ( ts.write_id = #{sourceId} )
        <if test="sourceId != null"> or (e.type = '0' and e.source_id = #{sourceId} )</if> )
        order by e.sort
    </select>

    <select id="selectTenantSeparationById" parameterType="TenantSource" resultMap="TenantSourceResult">
        <include refid="subVo"/>
        where e.source_id = #{sourceId} and e.status = '0' and e.del_flag = 0
    </select>

    <insert id="insertTenantSource" parameterType="TenantSource">
        insert into xy_tenant_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Id != null">source_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="databaseType != null and databaseType != ''">database_type,</if>
            <if test="driverClassName != null and driverClassName != ''">driver_class_name,</if>
            <if test="slave != null and slave != ''">slave,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="sort != null and sort != ''">sort,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="Id != null">                                            #{Id}              ,</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="databaseType != null and databaseType != ''">#{databaseType},</if>
            <if test="driverClassName != null and driverClassName != ''">#{driverClassName},</if>
            <if test="slave != null and slave != ''">#{slave},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="sort != null and sort != ''">#{sort},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
        </trim>
    </insert>

    <update id="updateTenantSource" parameterType="TenantSource">
        update xy_tenant_source
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="databaseType != null and databaseType != ''">database_type = #{databaseType},</if>
            <if test="driverClassName != null and driverClassName != ''">driver_class_name = #{driverClassName},</if>
            <if test="slave != null and slave != ''">slave = #{slave},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where source_id = #{sourceId} and database_type != '1'
    </update>

    <update id="updateTenantSourceSort" parameterType="TenantSource">
        update xy_tenant_source set sort =
        <foreach collection="params.Ids" item="item" index="index" separator=" " open="case source_id" close="end">
            when #{item.sourceId} then #{item.sort}
        </foreach>
        where source_id in
        <foreach collection="params.Ids" item="item" index="index" separator="," open="(" close=")">
            #{item.sourceId}
        </foreach>
    </update>

    <delete id="deleteTenantSourceById" parameterType="TenantSource">
        update xy_tenant_source
        set del_flag = 1
        where source_id = #{sourceId} and database_type != '1'
    </delete>

    <delete id="deleteTenantSourceByIds" parameterType="TenantSource">
        update xy_tenant_source
        set del_flag = 1
        where database_type != '1' and source_id in
        <foreach item="sourceId" collection="params.Ids" open="(" separator="," close=")">
            #{sourceId}
        </foreach>
    </delete>

    <delete id="deleteTenantSeparationBySourceId" parameterType="TenantSource">
        delete from xy_tenant_separation
        where write_id = #{sourceId}
        <if test="type != null and type == '0'"> and read_id != #{sourceId}</if>
    </delete>

    <insert id="batchTenantSeparation" parameterType="TenantSource">
        insert into xy_tenant_separation( write_id, read_id) values
        <foreach item="item" index="index" collection="values" separator=",">
            ( #{sourceId}, #{item.sourceId} )
        </foreach>
    </insert>
</mapper>