<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.tenant.mapper.TenantNacosMapper">

    <resultMap type="TenantNacos" id="TenantNacosResult">
        <result property="dataId"               column="data_id"        />
        <result property="name"                 column="name"           />
        <result property="prefixStr"            column="prefix_str"     />
        <result property="slaveStr"             column="slave_str"      />
        <result property="suffixStr"            column="suffix_str"     />
        <result property="type"                 column="type"           />
        <result property="sort"                 column="sort"           />
        <result property="status"               column="status"         />
        <result property="createBy"   		    column="create_by"      />
        <result property="createName"   	    column="create_name"    />
        <result property="createTime"           column="create_time"    />
        <result property="updateBy"   		    column="update_by"      />
        <result property="updateName"   	    column="update_name"    />
        <result property="updateTime"           column="update_time"    />
    </resultMap>

    <sql id="selectVo">
        select e.data_id, e.name, e.prefix_str, e.slave_str, e.suffix_str, e.type, e.sort, e.status, e.create_by, e.create_time, e.update_by, e.update_time
        from xy_tenant_nacos e
    </sql>

    <select id="selectTenantNacosList" parameterType="TenantNacos" resultMap="TenantNacosResult">
        <include refid="selectVo"/>
        where 1 = 1
        <if test="name != null  and name != ''"> and e.name like concat('%', #{name}, '%')</if>
        <if test="type != null  and type != ''"> and e.type = #{type}</if>
        <if test="status != null  and status != ''"> and e.status = #{status}</if>
        order by e.sort
    </select>


    <select id="selectTenantNacosById" parameterType="TenantNacos" resultMap="TenantNacosResult">
        <include refid="selectVo"/>
        where e.data_id = #{dataId}
    </select>

    <insert id="insertTenantNacos" parameterType="TenantNacos">
        insert into xy_tenant_nacos
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Id != null">data_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="prefixStr != null">prefix_str,</if>
            <if test="slaveStr != null">slave_str,</if>
            <if test="suffixStr != null">suffix_str,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="sort != null and sort != ''">sort,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="Id != null">                                            #{Id}              ,</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="prefixStr != null">#{prefixStr},</if>
            <if test="slaveStr != null">#{slaveStr},</if>
            <if test="suffixStr != null">#{suffixStr},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="sort != null and sort != ''">#{sort},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
        </trim>
    </insert>

    <update id="updateTenantNacos" parameterType="TenantNacos">
        update xy_tenant_nacos
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="prefixStr != null">prefix_str = #{prefixStr},</if>
            <if test="slaveStr != null">slave_str = #{slaveStr},</if>
            <if test="suffixStr != null">suffix_str = #{suffixStr},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where data_id = #{dataId}
    </update>

    <update id="updateTenantNacosSort" parameterType="TenantNacos">
        update xy_tenant_nacos set sort =
        <foreach collection="params.Ids" item="item" index="index" separator=" " open="case data_id" close="end">
            when #{item.dataId} then #{item.sort}
        </foreach>
        where data_id in
        <foreach collection="params.Ids" item="item" index="index" separator="," open="(" close=")">
            #{item.dataId}
        </foreach>
    </update>

    <delete id="deleteTenantNacosById" parameterType="TenantNacos">
        update xy_tenant_nacos
        set del_flag = 1
        where data_id = #{dataId}
    </delete>

    <delete id="deleteTenantNacosByIds" parameterType="TenantNacos">
        update xy_tenant_nacos
        set del_flag = 1
        where data_id in
        <foreach item="dataId" collection="params.Ids" open="(" separator="," close=")">
            #{dataId}
        </foreach>
    </delete>
</mapper>