<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.tenant.mapper.TenantSourceMapper">

    <resultMap type="TenantSource" id="TenantSourceResult">
        <id     property="sourceId"         column="source_id"          />
        <result property="name"             column="name"               />
        <result property="databaseType"     column="database_type"      />
        <result property="slave"            column="slave"              />
        <result property="driverClassName"  column="driver_class_name"  />
        <result property="url"              column="url"                />
        <result property="username"         column="username"           />
        <result property="password"         column="password"           />
        <result property="type"             column="type"               />
        <result property="sort"             column="sort"               />
        <result property="status"           column="status"             />
        <result property="createBy"   		column="create_by"          />
        <result property="createName"   	column="create_name"        />
        <result property="createTime"       column="create_time"        />
        <result property="updateBy"   		column="update_by"          />
        <result property="updateName"   	column="update_name"        />
        <result property="updateTime"       column="update_time"        />
    </resultMap>

    <sql id="selectVo">
        select e.source_id, e.name, e.database_type, e.slave, e.driver_class_name, e.url, e.username, e.password, e.type, e.sort, e.status, e.create_by, e.create_time, e.update_by, e.update_time
        from xy_tenant_source e
    </sql>

    <select id="selectTenantSourceList" parameterType="TenantSource" resultMap="TenantSourceResult">
        <include refid="selectVo"/>
        where 1 = 1
        <if test="name != null  and name != ''"> and e.name like concat('%', #{name}, '%')</if>
        <if test="databaseType != null  and databaseType != ''"> and e.database_type = #{databaseType}</if>
        <if test="slave != null  and slave != ''"> and e.slave = #{slave}</if>
        <if test="driverClassName != null  and driverClassName != ''"> and e.driver_class_name like concat('%', #{driverClassName}, '%')</if>
        <if test="url != null  and url != ''"> and e.url = #{url}</if>
        <if test="username != null  and username != ''"> and e.username like concat('%', #{username}, '%')</if>
        <if test="password != null  and password != ''"> and e.password = #{password}</if>
        <if test="type != null  and type != ''"> and e.type = #{type}</if>
        <if test="status != null  and status != ''"> and e.status = #{status}</if>
        order by e.sort
    </select>


    <select id="selectTenantSourceById" parameterType="TenantSource" resultMap="TenantSourceResult">
        <include refid="selectVo"/>
        where e.source_id = #{sourceId}
    </select>

    <insert id="insertTenantSource" parameterType="TenantSource">
        insert into xy_tenant_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Id != null">source_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="databaseType != null and databaseType != ''">database_type,</if>
            <if test="driverClassName != null and driverClassName != ''">driver_class_name,</if>
            <if test="slave != null and slave != ''">slave,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="sort != null and sort != ''">sort,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="Id != null">                                            #{Id}              ,</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="databaseType != null and databaseType != ''">#{databaseType},</if>
            <if test="driverClassName != null and driverClassName != ''">#{driverClassName},</if>
            <if test="slave != null and slave != ''">#{slave},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="sort != null and sort != ''">#{sort},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
        </trim>
    </insert>

    <update id="updateTenantSource" parameterType="TenantSource">
        update xy_tenant_source
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="databaseType != null and databaseType != ''">database_type = #{databaseType},</if>
            <if test="driverClassName != null and driverClassName != ''">driver_class_name = #{driverClassName},</if>
            <if test="slave != null and slave != ''">slave = #{slave},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where source_id = #{sourceId} and database_type != '1'
    </update>

    <update id="updateTenantSourceSort" parameterType="TenantSource">
        update xy_tenant_source set sort =
        <foreach collection="params.Ids" item="item" index="index" separator=" " open="case source_id" close="end">
            when #{item.sourceId} then #{item.sort}
        </foreach>
        where source_id in
        <foreach collection="params.Ids" item="item" index="index" separator="," open="(" close=")">
            #{item.sourceId}
        </foreach>
    </update>

    <delete id="deleteTenantSourceById" parameterType="TenantSource">
        update xy_tenant_source
        set del_flag = 1
        where source_id = #{sourceId} and database_type != '1'
    </delete>

    <delete id="deleteTenantSourceByIds" parameterType="TenantSource">
        update xy_tenant_source
        set del_flag = 1
        where database_type != '1' and source_id in
        <foreach item="sourceId" collection="params.Ids" open="(" separator="," close=")">
            #{sourceId}
        </foreach>
    </delete>
</mapper>