<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.system.material.mapper.SysMaterialFolderMapper">

    <resultMap type="SysMaterialFolder" id="SysMaterialFolderResult">
        <id     property="folderId"                 column="folder_id"              />
        <result property="parentId"                 column="parent_id"              />
        <result property="folderName"               column="folder_name"            />
        <result property="ancestors"                column="ancestors"              />
        <result property="type"                     column="type"                   />
        <result property="createBy"   		        column="create_by"              />
        <result property="createName"   	        column="create_name"            />
        <result property="createTime" 		        column="create_time"            />
        <result property="updateBy"   	        	column="update_by"              />
        <result property="updateName"           	column="update_name"            />
        <result property="updateTime" 	        	column="update_time"            />
    </resultMap>

    <sql id="selectVo">
        select f.folder_id, f.parent_id, f.folder_name, f.ancestors, f.type, f.sort, f.status, f.create_by, f.create_time, f.update_by, f.update_time
        from xy_material_folder f
    </sql>

    <select id="selectList" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysMaterialFolderResult">
        <include refid="selectVo"/>
        where 1 = 1
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by f.create_time desc
    </select>

    <select id="selectMaterialFolderList" parameterType="SysMaterialFolder" resultMap="SysMaterialFolderResult">
        <include refid="selectVo"/>
        where 1 = 1
        <if test="folderName != null and folderName != ''">
            AND f.folder_name like concat('%', #{folderName}, '%')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by f.create_time desc
    </select>

    <select id="selectMaterialFolderById" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysMaterialFolderResult">
        <include refid="selectVo"/>
        where 1 = 1 and f.folder_id = #{search.folderId}
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by f.create_time desc
    </select>

    <select id="selectParentMaterialFolderByAncestors" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysMaterialFolderResult">
        <include refid="selectVo"/>
        where 1 = 1 and f.folder_id in (${search.ancestors})
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by f.ancestors
    </select>

    <select id="selectDirectChildrenMaterialFolderById" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysMaterialFolderResult">
        <include refid="selectVo"/>
        where 1 = 1 and f.parent_id=#{search.folderId}
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by f.create_time desc
    </select>

    <select id="selectChildrenMaterialFolderById" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysMaterialFolderResult">
        <include refid="selectVo"/>
        where 1 = 1 and find_in_set(#{search.folderId}, f.ancestors)
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by f.create_time desc
    </select>

    <insert id="insertMaterialFolder" parameterType="SysMaterialFolder" useGeneratedKeys="true" keyProperty="folderId">
        insert into xy_material_folder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Id != null">                                                 folder_id              ,</if>
            <if test="parentId != null">                                           parent_id              ,</if>
            <if test="folderName != null and folderName != ''">                    folder_name            ,</if>
            <if test="ancestors != null">                                          ancestors              ,</if>
            <if test="type != null and type != ''">                                type                   ,</if>
            <if test="sort != null">                                               sort                   ,</if>
            <if test="status != null and status != ''">                            status                 ,</if>
            <if test="createBy != null">                                           create_by              ,</if>
            <if test="enterpriseId != null">                                       tenant_id              ,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="Id != null">                                                 #{Id}                  ,</if>
            <if test="parentId != null">                                           #{parentId}            ,</if>
            <if test="folderName != null and folderName != ''">                    #{folderName}          ,</if>
            <if test="ancestors != null">                                          #{ancestors}           ,</if>
            <if test="type != null and type != ''">                                #{type}                ,</if>
            <if test="sort != null">                                               #{sort}                ,</if>
            <if test="status != null and status != ''">                            #{status}              ,</if>
            <if test="createBy != null">                                           #{createBy}            ,</if>
            <if test="enterpriseId != null">                                       #{enterpriseId}        ,</if>
        </trim>
    </insert>

    <update id="updateMaterialFolder" parameterType="SysMaterialFolder">
        update xy_material_folder
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">                                          parent_id = #{parentId}           ,</if>
            <if test="folderName != null and folderName != ''">                   folder_name = #{folderName}       ,</if>
            <if test="ancestors != null">                                         ancestors = #{ancestors}          ,</if>
            <if test="type != null and type != ''">                               type = #{type}                    ,</if>
            <if test="sort != null">						                  	  sort = #{sort}			        ,</if>
            <if test="status != null and status != ''">			              	  status = #{status}		        ,</if>
            <if test="updateBy != null">		              	                  update_by = #{updateBy}	        ,</if>
        </trim>
        where folder_id = #{folderId}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </update>

    <delete id="deleteMaterialFolderById" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        update xy_material_folder
        set del_flag = 1
        where folder_id = #{search.folderId}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>

    <delete id="deleteMaterialFolderByIds" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        update xy_material_folder
        set del_flag = 1
        where 1 = 1 and folder_id in
        <foreach item="folderId" collection="search.folderIds" open="(" separator="," close=")">
            #{folderId}
        </foreach>
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>
</mapper>
