<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.system.organize.mapper.SysUserMapper">

	<resultMap type="SysUser" id="SysUserResult">
		<id     property="userId"       	column="user_id"     />
		<result property="deptId"       	column="dept_id"     />
		<result property="postId"       	column="post_id"     />
		<result property="userCode"     	column="user_code"   />
		<result property="userName"     	column="user_name"   />
		<result property="userType"     	column="user_type"   />
		<result property="nickName"     	column="nick_name"   />
		<result property="phone"  			column="phone"		 />
		<result property="email"        	column="email"       />
		<result property="sex"          	column="sex"         />
		<result property="avatar"       	column="avatar"      />
		<result property="profile"       	column="profile"     />
		<result property="password"     	column="password"    />
		<result property="loginIp"      	column="login_ip"    />
		<result property="loginDate"    	column="login_date"  />
		<result property="sort"       		column="sort"        />
		<result property="status"       	column="status"      />
		<result property="createBy"   		column="create_by"   />
		<result property="createName"   	column="create_name" />
		<result property="createTime" 		column="create_time" />
		<result property="updateBy"   		column="update_by"   />
		<result property="updateName"   	column="update_name" />
		<result property="updateTime" 		column="update_time" />
		<result property="remark" 			column="remark" 	 />
		<association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
		<association property="post"    column="post_id" javaType="SysPost" resultMap="postResult" />
		<collection  property="roles"   javaType="java.util.List"        	resultMap="roleResult" />
	</resultMap>

	<resultMap type="SysDept" id="deptResult">
		<id     property="deptId"     		column="dept_id"     />
		<result property="parentId"   		column="parent_id"   />
		<result property="deptCode"   		column="dept_code"   />
		<result property="deptName"   		column="dept_name"   />
		<result property="ancestors"  		column="ancestors"   />
		<result property="leader"     		column="leader"      />
		<result property="phone"      		column="phone"       />
		<result property="email"      		column="email"       />
		<result property="parentName" 		column="parent_name" />
		<result property="status" 		    column="dept_status" />
	</resultMap>

	<resultMap type="SysPost" id="postResult">
		<id     property="postId"        	column="post_id"     />
		<result property="deptId"        	column="dept_id"     />
		<result property="postCode"      	column="post_code"   />
		<result property="postName"      	column="post_name"   />
		<result property="status" 		    column="post_status" />
	</resultMap>

	<resultMap type="SysRole" id="roleResult">
		<id     property="roleId"       column="role_id"        />
		<result property="roleCode"     column="role_code"      />
		<result property="roleName"     column="role_name"      />
		<result property="roleKey"      column="role_key"       />
		<result property="roleSort"     column="role_sort"      />
		<result property="dataScope"     column="data_scope"    />
		<result property="status"       column="role_status"    />
	</resultMap>

	<sql id="selectVo">
		select u.user_id, u.dept_id, u.post_id, u.user_code, u.user_name, u.user_type, u.nick_name, u.phone, u.email, u.sex, u.avatar, u.profile, u.password, u.login_ip, u.login_date, u.sort, u.status, u.create_by, u.create_time, u.update_by, u.update_time, u.remark,
			   d.dept_id, d.parent_id, d.dept_code, d.dept_name, d.ancestors, d.leader, d.phone, d.email,d.status as dept_status,
			   p.post_id, p.dept_id, p.post_code, p.post_name,p.status as post_status,
			   r.role_id, r.role_code, r.role_name, r.role_key, r.sort, r.data_scope, r.status as role_status
		from sys_user u
				 left join sys_dept d on u.dept_id = d.dept_id
				 left join sys_post p on u.post_id = p.post_id
				 left join sys_user_role ur on u.user_id = ur.user_id
				 left join sys_role r on r.role_id = ur.role_id
	</sql>

	<sql id="checkVo">
		select u.user_id, u.dept_id, u.post_id, u.user_code, u.user_name, u.user_type, u.nick_name, u.phone, u.email, u.sex, u.avatar, u.profile, u.password, u.login_ip, u.login_date, u.sort, u.status, u.create_by, u.create_time, u.update_by, u.update_time, u.remark
		from sys_user u
	</sql>

	<sql id="countVo">
		select count(1)
		from sys_user u
	</sql>

	<select id="checkLoginByEnterpriseIdANDUserName" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysUserResult">
		<include refid="checkVo"/>
		where u.tenant_id = #{search.enterpriseId} and u.user_name=#{search.userName} and u.status = '0'
	</select>

	<select id="selectUserList" parameterType="SysUser" resultMap="SysUserResult">
		<include refid="selectVo"/>
		where 1 = 1
		<if test="postId != null and postId != 0">
			AND u.post_id = #{postId}
		</if>
		<if test="userCode != null and userCode != ''">
			AND u.user_code like concat('%', #{userCode}, '%')
		</if>
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="nickName != null and nickName != ''">
			AND u.nick_name like concat('%', #{nickName}, '%')
		</if>
		<if test="status != null and status != ''">
			AND u.status = #{status}
		</if>
		<if test="phone != null and phone != ''">
			AND u.phone like concat('%', #{phone}, '%')
		</if>
		<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
		</if>
		<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
		</if>
		<if test="deptId != null and deptId != 0">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
		order by u.sort,u.user_name
	</select>

	<select id="selectUserByUserName" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysUserResult">
		<include refid="selectVo"/>
		where u.user_name = #{search.userName}
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>

	<select id="selectUserById" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysUserResult">
		<include refid="selectVo"/>
		where u.user_id = #{search.userId}
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>

	<insert id="insertUser" parameterType="SysUser">
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="Id != null and Id != 0">                        user_id                             ,</if>
			<if test="deptId != null and deptId != 0">                dept_id                             ,</if>
			<if test="postId != null and postId != 0">                post_id                             ,</if>
			<if test="userCode != null and userCode != ''">           user_code                           ,</if>
			<if test="userName != null and userName != ''">           user_name                           ,</if>
			<if test="nickName != null and nickName != ''">           nick_name                           ,</if>
			<if test="phone != null and phone != ''">                 phone                               ,</if>
			<if test="email != null and email != ''">                 email                               ,</if>
			<if test="sex != null and sex != ''">                     sex                                 ,</if>
			<if test="avatar != null and avatar != ''">               avatar                              ,</if>
			<if test="profile != null and profile != ''">        	  profile                             ,</if>
			<if test="password != null and password != ''">           password                            ,</if>
			<if test="sort != null">                                  sort                                ,</if>
			<if test="status != null and status != ''">               status                              ,</if>
			<if test="createBy != null">                              create_by                           ,</if>
			<if test="remark != null and remark != ''">               remark                              ,</if>
			<if test="enterpriseId != null and enterpriseId != 0">    tenant_id                           ,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="Id != null and Id != 0">                        #{Id}                               ,</if>
			<if test="deptId != null and deptId != 0">                #{deptId}                           ,</if>
			<if test="postId != null and postId != 0">                #{postId}                           ,</if>
			<if test="userCode != null and userCode != ''">           #{userCode}                         ,</if>
			<if test="userName != null and userName != ''">           #{userName}                         ,</if>
			<if test="nickName != null and nickName != ''">           #{nickName}                         ,</if>
			<if test="phone != null and phone != ''">                 #{phone}                            ,</if>
			<if test="email != null and email != ''">                 #{email}                            ,</if>
			<if test="sex != null and sex != ''">                     #{sex}                              ,</if>
			<if test="avatar != null and avatar != ''">               #{avatar}                           ,</if>
			<if test="profile != null and profile != ''">             #{profile}                          ,</if>
			<if test="password != null and password != ''">           #{password}                         ,</if>
			<if test="sort != null">                                  #{sort}                             ,</if>
			<if test="status != null and status != ''">               #{status}                           ,</if>
			<if test="createBy != null">                              #{createBy}                         ,</if>
			<if test="remark != null and remark != ''">               #{remark}                           ,</if>
			<if test="enterpriseId != null and enterpriseId != 0">    #{enterpriseId}                     ,</if>
		</trim>
	</insert>

	<update id="updateUser" parameterType="SysUser">
		update sys_user
		<trim prefix="SET" suffixOverrides=",">
			<if test="deptId != null and deptId != 0">                dept_id = #{deptId}                 ,</if>
			<if test="postId != null and postId != 0">                post_id = #{postId}                 ,</if>
			<if test="userCode != null and userCode != ''">           user_code = #{userCode}             ,</if>
			<if test="userName != null and userName != ''">           user_name = #{userName}             ,</if>
			<if test="nickName != null and nickName != ''">           nick_name = #{nickName}             ,</if>
			<if test="phone != null ">                                phone = #{phone}                    ,</if>
			<if test="email != null ">                                email = #{email}                    ,</if>
			<if test="sex != null and sex != ''">                     sex = #{sex}                        ,</if>
			<if test="avatar != null and avatar != ''">               avatar = #{avatar}                  ,</if>
			<if test="profile != null and profile != ''">             profile = #{profile}                ,</if>
			<if test="password != null and password != ''">           password = #{password}              ,</if>
			<if test="loginIp != null and loginIp != ''">             login_ip = #{loginIp}               ,</if>
			<if test="loginDate != null">                             login_date = #{loginDate}           ,</if>
			<if test="sort != null">                                  sort = #{sort}                      ,</if>
			<if test="status != null and status != ''">               status = #{status}                  ,</if>
			<if test="updateBy != null">                              update_by = #{updateBy}             ,</if>
			<if test="remark != null">                                remark = #{remark}                  ,</if>
		</trim>
		where user_id = #{userId}
		<!-- 数据范围过滤 -->
		${params.updateScope}
	</update>

	<update id="updateUserStatus" parameterType="com.xueyi.system.api.utilTool.SysSearch">
		update sys_user
		<trim prefix="SET" suffixOverrides=",">
			<if test="search.status != null and search.status != ''">	      status = #{search.status}	     ,</if>
			<if test="updateBy != null">		                              update_by = #{updateBy}		 ,</if>
		</trim>
		where user_id = #{search.userId}
		<!-- 数据范围过滤 -->
		${params.updateScope}
	</update>

	<update id="updateUserStatusByPostId" parameterType="com.xueyi.system.api.utilTool.SysSearch">
		update sys_user
		<trim prefix="SET" suffixOverrides=",">
			<if test="search.status != null and search.status != ''">	      status = #{search.status}	     ,</if>
			<if test="updateBy != null">		                              update_by = #{updateBy}		 ,</if>
		</trim>
		where post_id = #{search.postId} and status = '0' and user_type != '00'
		<!-- 数据范围过滤 -->
		${params.updateScope}
	</update>

	<update id="updateUserStatusByDeptId" parameterType="com.xueyi.system.api.utilTool.SysSearch">
		update sys_user
		<trim prefix="SET" suffixOverrides=",">
			<if test="search.status != null and search.status != ''">	      status = #{search.status}	     ,</if>
			<if test="updateBy != null">		                              update_by = #{updateBy}		 ,</if>
		</trim>
		where dept_id = #{search.deptId} and status = '0' and user_type != '00'
		<!-- 数据范围过滤 -->
		${params.updateScope}
	</update>

	<update id="updateUserAvatar" parameterType="com.xueyi.system.api.utilTool.SysSearch">
		update sys_user
		set avatar = #{search.avatar}
		where user_id = #{search.userId}
		<!-- 数据范围过滤 -->
		${params.updateScope}
	</update>

	<update id="resetUserPwd" parameterType="com.xueyi.system.api.utilTool.SysSearch">
		update sys_user
		set password = #{search.password}
		where user_id = #{search.userId}
		<!-- 数据范围过滤 -->
		${params.updateScope}
	</update>

	<!-- user_type != '01'表示无法删除超级管理员 -->
	<delete id="deleteUserById" parameterType="com.xueyi.system.api.utilTool.SysSearch">
		update sys_user set del_flag = 1
		where user_type != '00' and user_id = #{search.userId}
		<!-- 数据范围过滤 -->
		${params.updateScope}
	</delete>

	<!-- user_type != '01'表示无法删除超级管理员 -->
	<delete id="deleteUserByIds" parameterType="com.xueyi.system.api.utilTool.SysSearch">
		update sys_user set del_flag = 1
		where user_type != '00' and user_id in
		<foreach collection="search.userIds" item="userId" open="(" separator="," close=")">
			#{userId}
		</foreach>
		<!-- 数据范围过滤 -->
		${params.updateScope}
	</delete>

	<select id="checkDeptExistUser" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultType="int">
		<include refid="countVo"/>
		where u.dept_id = #{search.deptId}
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>

	<select id="checkPostExistUser" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultType="int">
		<include refid="countVo"/>
		where u.post_id = #{search.postId}
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>

	<select id="checkUserCodeUnique" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysUserResult">
		<include refid="checkVo"/>
		where u.user_code = #{search.userCode}
		<!-- 数据范围过滤 -->
		${params.dataScope}
		limit 1
	</select>

	<select id="checkUserNameUnique" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysUserResult">
		<include refid="checkVo"/>
		where u.user_name = #{search.userName}
		<!-- 数据范围过滤 -->
		${params.dataScope}
		limit 1
	</select>

	<select id="checkPhoneUnique" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysUserResult">
		<include refid="checkVo"/>
		where u.phone = #{search.phone}
		<!-- 数据范围过滤 -->
		${params.dataScope}
		limit 1
	</select>

	<select id="checkEmailUnique" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultMap="SysUserResult">
		<include refid="checkVo"/>
		where u.email = #{search.email}
		<!-- 数据范围过滤 -->
		${params.dataScope}
		limit 1
	</select>
</mapper>
