// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;             //样式1 未关注菜单栏样式
$menuActiveText:#409EFF;       // 未发现用途
$subMenuActiveText:#f4f4f5;    //样式1 当前关注菜单的上级菜单栏

$menuBg:#304156;               //样式1 主菜单栏背景
$menuHover:#263445;            // 未发现用途
$sidebarTitle: #ffffff;         //样式1 菜单栏系统标题样式

$menuLightBg:#ffffff;          //样式2 菜单栏背景
$menuLightHover:#f0f1f5;       // 未发现用途
$sidebarLightTitle: #001529;   //样式2 菜单栏系统标题样式

$subMenuBg:#1f2d3d;            //样式1 子菜单栏背景
$subMenuHover:#001528;         //样式1 鼠标关注菜单栏

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuLightBg: $menuLightBg;
  menuLightHover: $menuLightHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  sidebarTitle: $sidebarTitle;
  sidebarLightTitle: $sidebarLightTitle
}
