//1.element-UI el-tabs type=card 样式调整

//外边框
.tabs-card {
  border-top: 1px solid #E4E7ED;
  border-bottom: 1px solid #E4E7ED;
  margin: 0 -20px 0 -20px;
}

.el-tabs--left.el-tabs--card .el-tabs__nav {
  border-radius: 4px 0 0 4px;
  border: none;
}

.el-tabs--card > .el-tabs__header {
  border-bottom: none;
}

.el-tabs--left.el-tabs--card .el-tabs__item.is-left {
  border: none;
  border-right: 1px solid #E4E7ED;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}

.el-tabs--left.el-tabs--card .el-tabs__item.is-left.is-active {
  padding-left: 34px;
  border: 1px solid #E4E7ED;
  border-left: 6px solid #557ce1;
  border-right-color: #fff;
}

.el-tabs--left.el-tabs--card .el-tabs__item.is-left.is-active:first-child {
  border-top: none;
}

.el-tabs--left.el-tabs--card .el-tabs__item.is-left.is-active:last-child {
  border-bottom: 1px solid #E4E7ED;
}

.el-tabs--left.el-tabs--card > .el-tabs__header{
  border-right: 1px solid #E4E7ED;
}

.el-tabs__item {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #303133;
  position: relative;
}

//滚动条样式修改
.el-table__body-wrapper::-webkit-scrollbar {
  /*纵向滚动条*/
  width: 6px;
  /*横向滚动条*/
  height: 6px;
}

.el-table__body-wrapper::-webkit-scrollbar-thumb {
  /*滚动条滑块颜色*/
  background-color: rgba(144,147,153,.5);
  border-radius: 10px;
}

.el-table__body-wrapper::-webkit-scrollbar-track {
  /*滚动条背景色*/
  background-color: transparent;
}

.el-table__body-wrapper::-webkit-scrollbar-corner {
  /*表格滚动条角落*/
  background-color: transparent;
}