<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.system.source.mapper.DataSourceMapper">

    <resultMap type="Source" id="sourceResult">
        <id     property="strategyId"             column="strategy_id"                      />
        <result property="isChange"               column="is_change"                        />
        <collection  property="values"   javaType="java.util.List"  resultMap="valuesResult"/>
    </resultMap>

    <resultMap type="Source" id="valuesResult">
        <result property="master"                 column="master_name"                  />
        <result property="isMain"                 column="is_main"                      />
        <collection  property="slave"   javaType="java.util.List"   resultMap="subSlaveMap" />
    </resultMap>

    <resultMap id="subSlaveMap" type="string">
        <result column="slave_name"                                                     />
    </resultMap>

    <sql id="cacheVo">
        select ts.strategy_id, ts.is_change, tss.is_main as is_main, tst.write_slave as master_name, tst.read_slave as slave_name
        from xy_tenant_strategy ts
        left join xy_tenant_strategy_source tss on tss.strategy_id = ts.strategy_id
        left join xy_tenant_separation tst on tst.write_id = tss.source_id
    </sql>

    <select id="mainSelectDataSourceCacheList" resultMap="sourceResult">
        <include refid="cacheVo"/>
        where ts.del_flag = 0 and ts.status = '0'
    </select>

    <select id="mainSelectDataSourceCacheByStrategyId" parameterType="Long" resultMap="sourceResult">
        <include refid="cacheVo"/>
        where ts.strategy_id = #{strategyId} and ts.del_flag = 0 and ts.status = '0'
    </select>

</mapper>