import request from '@/utils/request'

const Api = {
#if($api.list)
    LIST_${BUSINESSName}: '/${moduleName}/${businessName}/list',
#if($table.tree || $table.subTree)
    LIST_${BUSINESSName}_EXCLUDE_NODES: '/${moduleName}/${businessName}/list/exclude',
#end
    OPTION_${BUSINESSName}: '/${moduleName}/${businessName}/option',
#end
    GET_${BUSINESSName}: '/${moduleName}/${businessName}/',
    ADD_${BUSINESSName}: '/${moduleName}/${businessName}',
    EDIT_${BUSINESSName}: '/${moduleName}/${businessName}',
#if($api.editStatus || $api.editStatusForce)
    EDIT_STATUS_${BUSINESSName}: '/${moduleName}/${businessName}/status',
#end
    DEL_BATCH_${BUSINESSName}: '/${moduleName}/${businessName}/batch/',
    DEL_BATCH_FORCE_${BUSINESSName}: '/${moduleName}/${businessName}/batch/force/',
}

#set($IdName = $pkColumn.javaField)
#if($api.list)
/** 查询${functionName}列表 */
export function list{BusinessName}Api(query) {
    return request({
        url: Api.LIST_${BUSINESSName},
        method: 'get',
        params: query
    })
}

#if($table.tree || $table.subTree)
/** 查询${functionName}列表（排除节点） */
export function list{BusinessName}ExNodesApi(${IdName}) {
    return request({
        url: Api.LIST_${BUSINESSName}_EXCLUDE_NODES,
        method: 'get',
        params: { ${IdName}: ${IdName} }
    })
}

#end
/** 查询${functionName}选择框列表 */
export function option{BusinessName}Api() {
    return request({
        url: Api.OPTION_${BUSINESSName},
        method: 'get'
    })
}

#end
/** 查询${functionName}详细 */
export function get{BusinessName}Api(${IdName}) {
    return request({
        url: Api.GET_${BUSINESSName} + ${IdName},
        method: 'get'
    })
}

/** 新增${functionName} */
export function add${BusinessName}Api(data) {
    return request({
        url: Api.ADD_${BUSINESSName},
        method: 'post',
        data: data
    })
}

/** 修改${functionName} */
export function edit${BusinessName}Api(data) {
    return request({
        url: Api.EDIT_${BUSINESSName},
        method: 'put',
        data: data
    })
}

#if($api.editStatus || $api.editStatusForce)
#set($StatusName = $statusColumn.javaField)
/** 修改${functionName}状态 */
export function editStatus${BusinessName}Api(${IdName}, ${StatusName}) {
    return request({
        url: Api.EDIT_STATUS_${BUSINESSName},
        method: 'put',
        data: {${IdName}: ${IdName}, ${StatusName}: ${StatusName}}
    })
}

#end
#if($api.batchRemove)
/** 删除${functionName} */
export function del${BusinessName}Api(ids) {
    return request({
        url: Api.DEL_BATCH_${BUSINESSName} + ids,
        method: 'delete'
    })
}

#end
#if($api.batchRemoveForce)
/** 强制删除${functionName} */
export function delForce${BusinessName}Api(ids) {
    return request({
        url: Api.DEL_BATCH_FORCE_${BUSINESSName} + ids,
        method: 'delete'
    })
}

#end