import request from '@utils/request'
#set($AOP=[])
#foreach ($column in $columns)
#foreach ($item in $excisionAOP.entrySet())
#if($column.javaField == $item.key && $pkColumn.javaField != $item.key)
#set($conceal = $AOP.add($item.key))
#end
#end
#end
#if($AOP.size() > 0)
import { acquisition } from "@utils/xueyi";
#end

// 查询${functionName}列表
export function list${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/list',
    method: 'get',
    params:#if($AOP.size() > 0) acquisition(query#foreach($item in $AOP), ${item}#end#else query#end)

  })
}

#if($table.tree)
// 查询${functionName}树选项
export function tree${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/tree',
    method: 'get',
    params:#if($AOP.size() > 0) acquisition(query#foreach($item in $AOP), ${item}#end#else query#end)

  })
}

#end
// 查询${functionName}详细
export function get${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/byId',
    method: 'get',
    params:#if($AOP.size() > 0) acquisition(query#foreach($item in $AOP), ${item}#end#else query#end)

  })
}

// 新增${functionName}
export function add${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'post',
    data:#if($AOP.size() > 0) acquisition(data#foreach($item in $AOP), ${item}#end#else data#end)

  })
}

// 修改${functionName}
export function update${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'put',
    data:#if($AOP.size() > 0) acquisition(data#foreach($item in $AOP), ${item}#end#else data#end)

  })
}

#if($table.crud || $table.sub)#foreach ($co in $columns)#if($co.javaField == 'sort')
// 修改${functionName}排序
export function update${BusinessName}Sort(data) {
  return request({
    url: '/${moduleName}/${businessName}/sort',
    method: 'put',
  data:#if($AOP.size() > 0) acquisition(data#foreach($item in $AOP), ${item}#end#else data#end)

  })
}

#end#end#end
// 删除${functionName}
export function del${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'delete',
    data:#if($AOP.size() > 0) acquisition(data#foreach($item in $AOP), ${item}#end#else data#end)

  })
}