import request from '@/utils/request'
#set($system=0)
#set($site=0)
#set($library=0)
#foreach ($column in $columns)
#if($column.javaField == 'systemId')
#set($system=1)
#elseif($column.javaField == 'siteId')
#set($site=1)
#elseif($column.javaField == 'libraryId')
#set($library=1)
#end
#end
#set($method='')
#if($system==1 && $site == 0 && $library == 0)
#set($method='addSystem')
#elseif($system==0 && $site == 1 && $library == 0)
#set($method='addSite')
#elseif($system==0 && $site == 0 && $library == 1)
#set($method='addLibrary')
#elseif($system==1 && $site == 1 && $library == 0)
#set($method='addSystemAndSite')
#elseif($system==0 && $site == 1 && $library == 1)
#set($method='addSiteAndLibrary')
#elseif($system==1 && $site == 1 && $library == 1)
#set($method='addSystemAndSiteAndLibrary')
#end
#if($method != '')
import { ${method} } from "@/utils/xueyi";
#end

// 查询${functionName}列表
export function list${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/list',
    method: 'get',
    params:#if($method != '') ${method}(query)#else query#end

  })
}
#if($table.tree)

// 查询${functionName}树选项
export function tree${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/tree',
    method: 'get',
    params:#if($method != '') ${method}(query)#else query#end

  })
}
#end

// 查询${functionName}详细
export function get${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/byId',
    method: 'get',
    params:#if($method != '') ${method}(query)#else query#end

  })
}

// 新增${functionName}
export function add${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'post',
    data:#if($method != '') ${method}(data)#else data#end

  })
}

// 修改${functionName}
export function update${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'put',
    data:#if($method != '') ${method}(data)#else data#end

  })
}

#if($table.crud || $table.sub)#foreach ($co in $columns)#if($co.javaField == 'sort')
// 修改${functionName}排序
export function update${BusinessName}Sort(data) {
  return request({
    url: '/${moduleName}/${businessName}/sort',
    method: 'put',
  data:#if($method != '') ${method}(data)#else data#end

  })
}

#end#end#end
// 删除${functionName}
export function del${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'delete',
    data:#if($method != '') ${method}(data)#else data#end
    
  })
}