<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.system.role.mapper.SysDeptRoleMapper">

    <resultMap type="SysDeptRole" id="SysDeptRoleResult">
        <id     property="deptId"      column="dept_id"    />
        <result property="roleId"      column="role_id"    />
    </resultMap>

    <select id="selectDeptRoleByDeptId" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultType="SysDeptRole">
        select dr.dept_id, dr.role_id from sys_dept_role dr
        where dr.dept_id = #{search.deptId}
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by dr.role_id
    </select>

    <select id="countDeptRoleByRoleId" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultType="java.lang.Integer">
        select count(1) from sys_dept_role dr
        where dr.role_id = #{search.roleId}
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <insert id="batchDeptRole" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        insert into sys_dept_role (dept_id, role_id, tenant_id) values
        <foreach item="roleId" collection="search.roleIds" separator=",">
            (#{search.deptId}, #{roleId}, #{enterpriseId})
        </foreach>
    </insert>

    <delete id="deleteDeptRoleByRoleId" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        delete from sys_dept_role
        where role_id = #{search.roleId}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>

    <delete id="deleteDeptRoleByRoleIds" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        delete from sys_dept_role where role_id in
        <foreach item="roleId" collection="search.roleIds" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>

    <delete id="deleteDeptRoleByDeptId" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        delete from sys_dept_role
        where dept_id = #{search.deptId}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>

    <delete id="deleteDeptRoleByIds" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        delete from sys_dept_role where dept_id in
        <foreach item="deptId" collection="search.deptIds" open="(" separator="," close=")">
            #{deptId}
        </foreach>
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>
</mapper>
