<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.system.role.mapper.SysRolePostMapper">

    <resultMap type="SysRolePost" id="SysRolePostResult">
        <id     property="roleId"      column="role_id"    />
        <result property="postId"      column="post_id"    />
    </resultMap>

    <select id="checkPostExistRole" parameterType="com.xueyi.system.api.utilTool.SysSearch" resultType="java.lang.Integer">
        select count(1) from sys_role_post rp
        where rp.role_id=#{search.postId}
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <insert id="batchRolePost" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        insert into sys_role_post (role_id, post_id, tenant_id) values
        <foreach item="postId" collection="search.postIds" open="(" separator="," close=")">
            (#{search.roleId}, #{postId}, #{enterpriseId})
        </foreach>
    </insert>

    <delete id="deleteRolePostByRoleId" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        delete from sys_role_post
        where role_id = #{search.roleId}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>

    <delete id="deleteRolePostByPostId" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        delete from sys_role_post
        where post_id = #{search.postId}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>

    <delete id="deleteRolePostByIds" parameterType="com.xueyi.system.api.utilTool.SysSearch">
        delete from sys_role_post where role_id in
        <foreach item="roleId" collection="search.roleIds" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>
</mapper>
