<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.mapper.${ClassName}Mapper">
    
    <resultMap type="${ClassName}" id="${ClassName}Result">
#foreach ($column in $columns)
#if($column.javaField != 'tenantId' && $column.javaField != 'systemId' && $column.javaField != 'siteId' && $column.javaField != 'libraryId' && $column.javaField != 'delFlag' )
#if($column.javaField == ${pkColumn.javaField})
        <id     property="${pkColumn.javaField}"#set($maxStep=23 - ${pkColumn.javaField.length()})#foreach($step in[0..$maxStep]) #end column="${pkColumn.columnName}"#set($maxStep=13 - ${pkColumn.columnName.length()})#foreach($step in[0..$maxStep]) #end />
#elseif($column.javaField == 'createBy')
        <result property="createBy"                 column="create_by"      />
        <result property="createName"               column="create_name"    />
#elseif($column.javaField == 'updateBy')
        <result property="updateBy"                 column="update_by"      />
        <result property="updateName"               column="update_name"    />
#elseif($table.sub && $column.javaField == 'parentId')
        <result property="parentId"                 column="parent_id"      />
        <result property="parentName"               column="parent_name"    />
#else
        <result property="${column.javaField}"#set($maxStep=23 - ${column.javaField.length()})#foreach($step in[0..$maxStep]) #end column="${column.columnName}"#set($maxStep=13 - ${column.columnName.length()})#foreach($step in[0..$maxStep]) #end />
#end
#end
#end
    </resultMap>
#if($table.sub)

    <resultMap id="${ClassName}${subClassName}Result" type="${ClassName}" extends="${ClassName}Result">
        <collection property="${subclassName}List" notNullColumn="sub_${subTable.pkColumn.columnName}" javaType="java.util.List" resultMap="${subClassName}Result" />
    </resultMap>

    <resultMap type="${subClassName}" id="${subClassName}Result">
#foreach ($column in $subTable.columns)
#if($column.javaField != 'tenantId' && $column.javaField != 'systemId' && $column.javaField != 'siteId' && $column.javaField != 'libraryId' && $column.javaField != 'delFlag' )
#if($column.javaField == 'createBy')
        <result property="createBy"                 column="sub_create_by"      />
        <result property="createName"   	        column="sub_create_name"    />
#elseif($column.javaField == 'updateBy')
        <result property="updateBy"   		        column="sub_update_by"      />
        <result property="updateName"   	        column="sub_update_name"    />
#else
        <result property="${column.javaField}"#set($maxStep=23 - ${column.javaField.length()})#foreach($step in[0..$maxStep]) #end column="sub_${column.columnName}"#set($maxStep=17 - ${column.columnName.length()})#foreach($step in[0..$maxStep]) #end />
#end
#end
#end
    </resultMap>
#end

#if($table.tree)
    <sql id="selectVo">
        select#set($commaVo=0)#foreach ($column in $columns)#if($column.columnName != 'tenant_id' && $column.columnName != 'system_id' && $column.columnName != 'site_id' && $column.columnName != 'library_id' && $column.columnName != 'del_flag')#if($commaVo == 1),#end#if($commaVo == 0)#set($commaVo=1)#end e.$column.columnName#end#end

        from ${tableName} e
    </sql>

    <sql id="treeVo">
        select#set($commaVo=0)#foreach ($column in $columns)#if($column.columnName != 'tenant_id' && $column.columnName != 'system_id' && $column.columnName != 'site_id' && $column.columnName != 'library_id' && $column.columnName != 'del_flag')#if($commaVo == 1),#end#if($commaVo == 0)#set($commaVo=1)#end e.$column.columnName#end#end
        #set($treeVo=0)#foreach ($column in $columns)#if($column.columnName == 'parent_id' || $column.columnName == 'name')#set($treeVo=$treeVo+1)#if($treeVo==2), pe.name as parent_name#end#end#end

        from ${tableName} e
        left join ${tableName} pe on pe.$pkColumn.columnName = e.$pkColumn.columnName
    </sql>
#else
    <sql id="selectVo">
        select#set($commaVo=0)#foreach ($column in $columns)#if($column.columnName != 'tenant_id' && $column.columnName != 'system_id' && $column.columnName != 'site_id' && $column.columnName != 'library_id' && $column.columnName != 'del_flag')#if($commaVo == 1),#end#if($commaVo == 0)#set($commaVo=1)#end e.$column.columnName#end#end

        from ${tableName} e
    </sql>
#end

    <select id="select${ClassName}List" parameterType="${ClassName}" resultMap="${ClassName}Result">
#if($table.tree)
        <include refid="treeVo"/>
#else
        <include refid="selectVo"/>
#end
        where 1 = 1
#foreach($column in $columns)
#if($column.javaField != 'tenantId' && $column.javaField != 'systemId' && $column.javaField != 'siteId' && $column.javaField != 'libraryId' && $column.javaField != 'delFlag' )
#set($queryType=$column.queryType)
#set($javaField=$column.javaField)
#set($javaType=$column.javaType)
#set($columnName=$column.columnName)
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#if($column.query)
#if($column.queryType == "EQ")
        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">#if($column.javaType == 'String')#set($maxStep=25 + 11 - ${javaField.length()} * 2)#else#set($maxStep=25 + 22 - ${javaField.length()})#end#foreach($step in[0..$maxStep]) #end and e.$columnName = #{$javaField} #set($maxStep=40 - ${columnName.length()} - ${javaField.length()})#foreach($step in[0..$maxStep]) #end </if>
#elseif($queryType == "NE")
        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">#if($column.javaType == 'String')#set($maxStep=25 + 11 - ${javaField.length()} * 2)#else#set($maxStep=25 + 22 - ${javaField.length()})#end#foreach($step in[0..$maxStep]) #end and e.$columnName != #{$javaField} #set($maxStep=41 - ${columnName.length()} - ${javaField.length()})#foreach($step in[0..$maxStep]) #end </if>
#elseif($queryType == "GT")
        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">#if($column.javaType == 'String')#set($maxStep=25 + 11 - ${javaField.length()} * 2)#else#set($maxStep=25 + 22 - ${javaField.length()})#end#foreach($step in[0..$maxStep]) #end and e.$columnName &gt; #{$javaField} #set($maxStep=40 - ${columnName.length()} - ${javaField.length()})#foreach($step in[0..$maxStep]) #end </if>
#elseif($queryType == "GTE")
        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">#if($column.javaType == 'String')#set($maxStep=25 + 11 - ${javaField.length()} * 2)#else#set($maxStep=25 + 22 - ${javaField.length()})#end#foreach($step in[0..$maxStep]) #end and e.$columnName &gt;= #{$javaField} #set($maxStep=41 - ${columnName.length()} - ${javaField.length()})#foreach($step in[0..$maxStep]) #end </if>
#elseif($queryType == "LT")
        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">#if($column.javaType == 'String')#set($maxStep=25 + 11 - ${javaField.length()} * 2)#else#set($maxStep=25 + 22 - ${javaField.length()})#end#foreach($step in[0..$maxStep]) #end and e.$columnName &lt; #{$javaField} #set($maxStep=40 - ${columnName.length()} - ${javaField.length()})#foreach($step in[0..$maxStep]) #end </if>
#elseif($queryType == "LTE")
        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">#if($column.javaType == 'String')#set($maxStep=25 + 11 - ${javaField.length()} * 2)#else#set($maxStep=25 + 22 - ${javaField.length()})#end#foreach($step in[0..$maxStep]) #end and e.$columnName &lt;= #{$javaField} #set($maxStep=41 - ${columnName.length()} - ${javaField.length()})#foreach($step in[0..$maxStep]) #end </if>
#elseif($queryType == "LIKE")
        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">#if($column.javaType == 'String')#set($maxStep=25 + 11 - ${javaField.length()} * 2)#else#set($maxStep=25 + 22 - ${javaField.length()})#end#foreach($step in[0..$maxStep]) #end and e.$columnName like concat('%', #{$javaField}, '%') #set($maxStep=18 - ${columnName.length()} - ${javaField.length()})#foreach($step in[0..$maxStep]) #end </if>
#elseif($queryType == "BETWEEN")
        <if test="params.begin$AttrName != null and params.begin$AttrName != '' and params.end$AttrName != null and params.end$AttrName != ''">#set($maxStep=10)#foreach($step in[0..$maxStep]) #end and e.$columnName between #{params.begin$AttrName} and #{params.end$AttrName}#set($maxStep=10)#foreach($step in[0..$maxStep]) #end </if>
#end
#end
#end
#end
        <!-- 数据范围过滤 -->
        ${params.dataScope}
#foreach($column in $columns)
#if($column.javaField == 'sort')
        order by e.sort
#end
#end
    </select>

#if($table.tree)
    <select id="select${ClassName}Tree" parameterType="${ClassName}" resultMap="${ClassName}Result">
        <include refid="selectVo"/>
        where 1 = 1
        #foreach($cu in $columns)#if($cu.columnName==${pkColumn.columnName})#set($javaField=$cu.javaField)#set($javaType=$cu.javaType)<if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">and e.${pkColumn.columnName} != #{${pkColumn.javaField}}#foreach ($column in $columns)#if($column.columnName == 'ancestors') and NOT find_in_set( #{${pkColumn.javaField}} , e.ancestors )#elseif($column.columnName == 'status') and e.status = 0#end#end</if> #end#end

        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

#foreach($column in $columns)
#if($column.javaField == 'ancestors')
    <select id="selectChildrenById" parameterType="${ClassName}" resultMap="${ClassName}Result">
        <include refid="selectVo"/>
        where find_in_set( #{${pkColumn.javaField}} , e.ancestors )
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>
#end
#end
#end

    <select id="select${ClassName}ById" parameterType="${ClassName}" resultMap="#if($table.sub)${ClassName}${subClassName}Result#else${ClassName}Result#end">
#if($table.crud || $table.tree)
        <include refid="selectVo"/>
        where e.${pkColumn.columnName} = #{${pkColumn.javaField}}
#elseif($table.sub)
        select#foreach($column in $columns)#if($column.columnName != 'tenant_id' && $column.columnName != 'system_id' && $column.columnName != 'site_id' && $column.columnName != 'library_id' && $column.columnName != 'del_flag') e.$column.columnName#if($velocityCount != $columns.size()),#end#end#end

           #foreach($column in $subTable.columns)#if($column.columnName != 'tenant_id' && $column.columnName != 'system_id' && $column.columnName != 'site_id' && $column.columnName != 'library_id' && $column.columnName != 'del_flag') b.$column.columnName as sub_$column.columnName#if($velocityCount != $subTable.columns.size()),#end#end#end

        from ${tableName} e
        left join ${subTableName} b on b.${subTableFkName} = e.${pkColumn.columnName}
        where e.${pkColumn.columnName} = #{${pkColumn.javaField}}
#end
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>
        
    <insert id="insert${ClassName}" parameterType="${ClassName}"#if($pkColumn.increment) useGeneratedKeys="true" keyProperty="$pkColumn.javaField"#end>
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
#if($column.columnName == $pkColumn.columnName)
#if(!$pkColumn.increment)
            <if test="Id != null">                                                         $column.columnName #set($maxStep=21 - ${column.columnName.length()})#foreach($step in[0..$maxStep]) #end ,</if>
#end
#elseif($column.columnName == 'create_time' || $column.columnName == 'update_time' || $column.columnName == 'update_by' || $column.columnName == 'del_flag')
#elseif($column.columnName == 'tenant_id')
            <if test="enterpriseId != null">                                               tenant_id              ,</if>
#elseif($column.columnName != $pkColumn.columnName)
            <if test="$column.javaField != null#if($column.javaType == 'String' && $column.required) and $column.javaField != ''#end">#if($column.javaType == 'String' && $column.required)#set($maxStep=35 + 11 - ${column.javaField.length()} * 2)#else#set($maxStep=35 + 22 - ${column.javaField.length()})#end#foreach($step in[0..$maxStep]) #end $column.columnName #set($maxStep=21 - ${column.columnName.length()})#foreach($step in[0..$maxStep]) #end ,</if>
#end
#end
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
#if($column.columnName == $pkColumn.columnName)
#if(!$pkColumn.increment)
            <if test="Id != null">                                                         #{Id}                  ,</if>
#end
#elseif($column.columnName == 'create_time' || $column.columnName == 'update_time' || $column.columnName == 'update_by' || $column.columnName == 'del_flag')
#elseif($column.columnName == 'tenant_id')
            <if test="enterpriseId != null">                                               #{enterpriseId}        ,</if>
#elseif($column.columnName != $pkColumn.columnName)
            <if test="$column.javaField != null#if($column.javaType == 'String' && $column.required) and $column.javaField != ''#end">#if($column.javaType == 'String' && $column.required)#set($maxStep=35 + 11 - ${column.javaField.length()} * 2)#else#set($maxStep=35 + 22 - ${column.javaField.length()})#end#foreach($step in[0..$maxStep]) #end #{$column.javaField} #set($maxStep=18 - ${column.javaField.length()})#foreach($step in[0..$maxStep]) #end ,</if>
#end
#end
         </trim>
    </insert>

    <update id="update${ClassName}" parameterType="${ClassName}">
        update ${tableName}
        <trim prefix="SET" suffixOverrides=",">
#foreach($column in $columns)
#if($column.columnName == 'create_by' || $column.columnName == 'create_time' || $column.columnName == 'update_time' || $column.columnName == 'del_flag' || $column.columnName == 'library_id' || $column.columnName == 'site_id' || $column.columnName == 'system_id' || $column.columnName == 'tenant_id')
#elseif($column.columnName != $pkColumn.columnName)
            <if test="$column.javaField != null#if($column.javaType == 'String' && $column.required) and $column.javaField != ''#end">#if($column.javaType == 'String' && $column.required)#set($maxStep=35 + 11 - ${column.javaField.length()} * 2)#else#set($maxStep=35 + 22 - ${column.javaField.length()})#end#foreach($step in[0..$maxStep]) #end $column.columnName = #{$column.javaField} #set($maxStep=29 - ${column.columnName.length()} - ${column.javaField.length()})#foreach($step in[0..$maxStep]) #end ,</if>
#end
#end
        </trim>
        where ${pkColumn.columnName} = #{${pkColumn.javaField}}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </update>

#if($table.crud || $table.sub)
#foreach ($co in $columns)
#if($co.javaField == 'sort')
    <update id="update${ClassName}Sort" parameterType="${ClassName}">
        update ${tableName} set sort =
        <foreach collection="params.Ids" item="item" index="index" separator=" " open="case $pkColumn.columnName" close="end">
            when #{item.${pkColumn.javaField}} then #{item.sort}
        </foreach>
        where $pkColumn.columnName in
        <foreach collection="params.Ids" item="item" index="index" separator="," open="(" close=")">
            #{item.${pkColumn.javaField}}
        </foreach>
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </update>

#end
#end
#end
#if($table.tree)
#foreach($column in $columns)
#if($column.javaField == 'ancestors')
    <update id="updateChildrenAncestors" parameterType="${ClassName}">
        update ${tableName} set ancestors =
        <foreach collection="params.children" item="item" index="index"
                 separator=" " open="case ${pkColumn.columnName}" close="end">
            when #{item.${pkColumn.javaField}} then #{item.ancestors}
        </foreach>
        where ${pkColumn.columnName} in
        <foreach collection="params.children" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.${pkColumn.javaField}}
        </foreach>
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </update>
#end
#end

#end
    <delete id="delete${ClassName}ById" parameterType="${ClassName}">
        update ${tableName}
        set del_flag = 1
        where ${pkColumn.columnName} = #{${pkColumn.javaField}}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>
#if(!$table.tree)

    <delete id="delete${ClassName}ByIds" parameterType="${ClassName}">
        update ${tableName}
        set del_flag = 1
        where ${pkColumn.columnName} in
        <foreach item="${pkColumn.javaField}" collection="params.Ids" open="(" separator="," close=")">
            #{${pkColumn.javaField}}
        </foreach>
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>
#end
#if($table.tree)
#foreach($column in $columns)
#if($column.javaField == 'ancestors')

    <delete id="deleteChildrenById" parameterType="${ClassName}">
        update ${tableName}
        set del_flag = 1
        where find_in_set( #{${pkColumn.javaField}} , ancestors )
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>
#end
#end
#elseif($table.sub)
#set($AttrName=$pkColumn.javaField.substring(0,1).toUpperCase() + ${pkColumn.javaField.substring(1)})

    <delete id="delete${subClassName}By${AttrName}s" parameterType="${ClassName}">
        delete from ${subTableName}
        where ${pkColumn.columnName} in
        <foreach item="${pkColumn.javaField}" collection="params.Ids" open="(" separator="," close=")">
            #{${pkColumn.javaField}}
        </foreach>
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>

    <delete id="delete${subClassName}By${AttrName}" parameterType="${ClassName}">
        delete from ${subTableName}
        where ${pkColumn.columnName} = #{${pkColumn.javaField}}
        <!-- 数据范围过滤 -->
        ${params.updateScope}
    </delete>

    <insert id="batch${subClassName}" parameterType="${ClassName}">
        insert into ${subTableName}(#set($commaBatchId=0)#foreach($column in $subTable.columns)#if($column.columnName == 'create_time' || $column.columnName == 'update_time' || $column.columnName == 'update_by' || $column.columnName == 'del_flag')#else#if($commaBatchId == 1),#end#if($commaBatchId == 0)#set($commaBatchId = 1)#end $column.columnName#end#end) values
		<foreach item="item" index="index" collection="${subclassName}List" separator=",">
            (#set($commaBatch=0)#foreach($column in $subTable.columns)#if($column.columnName != 'create_time' && $column.columnName != 'update_time' && $column.columnName != 'update_by' && $column.columnName != 'del_flag')#if($column.columnName == 'tenant_id')#if($commaBatch == 1),#end#if($commaBatch == 0)#set($commaBatch = 1)#end #{enterpriseId}#elseif($column.columnName == $pkColumn.columnName || $column.columnName == 'create_by' || $column.columnName == 'library_id' || $column.columnName == 'site_id' || $column.columnName == 'system_id')#if($commaBatch == 1),#end#if($commaBatch == 0)#set($commaBatch = 1)#end #{$column.javaField}#else#if($commaBatch == 1),#end#if($commaBatch == 0)#set($commaBatch = 1)#end #{item.$column.javaField}#end#end#end)
        </foreach>
    </insert>
#end
</mapper>