package ${packageName}.domain.dto;

#if($table.base)
#elseif($table.tree)
#set($generics = "<"+${ClassName}+"Dto>")
#elseif($table.subBase)
#set($generics = "<"+${subClassName}+"Dto>")
#elseif($table.subTree)
#set($generics = "<D"+${ClassName}+"Dto, "+${subClassName}+"Dto>")
#end
#if($table.subBase || $table.subTree)
import ${subPackageName}.domain.dto.${subClassName}Dto;
#end
import ${packageName}.domain.po.${ClassName}Po;
import com.baomidou.mybatisplus.annotation.TableName;
import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;

/**
 * ${functionName} 数据传输对象
 *
 * @author ${author}
 */
@TableName(#if(${excludeProperty.size()} > 0 )value = "${tableName}", excludeProperty = {#set($times = true)#foreach($field in $excludeProperty)#if($times)#set($times = false)#else,#end"${field}"#end}#else"${tableName}"#end)
public class ${ClassName}Dto extends ${ClassName}Po#if($generics)${generics}#end {

    private static final long serialVersionUID = 1L;

    @Override
    public String toString() {
        return new ToStringBuilder(this, ToStringStyle.MULTI_LINE_STYLE)
#foreach ($column in $columns)
#set($hide = true)
#foreach($item in $mustHideField)
#if($column.javaField == $item)
#set($hide = false)
#break
#end
#end
#set($AttrName = $column.javaField)
#if($hide)
#if($AttrName == 'createBy')
            .append("createBy", getCreateBy())
            .append("createName", getCreateName())
#elseif($AttrName == 'updateBy')
            .append("updateBy", getUpdateBy())
            .append("updateName", getUpdateName())
#elseif($AttrName == 'parentId' && $table.tree)
            .append("parentId", getParentId())
            .append("parentName", getParentName())
#else
#if($AttrName.length() > 2 && $AttrName.substring(1,2).matches("[A-Z]"))
#set($field=$AttrName)
#else
#set($field=$AttrName.substring(0,1).toUpperCase() + ${AttrName.substring(1)})
#end
            .append("${AttrName}", get${field}())
#end
#end
#end
#if($table.tree || $table.subTree)
            .append("children", getChildren())
#end
#if($table.subBase || $table.subTree)
            .append("subList", getSubList())
#end
            .toString();
    }
}