package ${packageName}.mapper;

#if($table.base)
#set($Entity="Base")
#set($generics = "<"+${ClassName}+"Dto>")
#elseif($table.tree)
#set($Entity="Tree")
#set($generics = "<"+${ClassName}+"Dto>")
#elseif($table.subBase)
#set($Entity="SubBase")
#set($generics = "<"+${ClassName}+"Dto, "+${subClassName}+"Dto>")
#elseif($table.subTree)
#set($Entity="SubTree")
#set($generics = "<"+${ClassName}+"Dto, "+${subClassName}+"Dto>")
#end
import ${packageName}.domain.dto.${ClassName}Dto;
#if($table.subBase || $table.subTree)
import ${subPackageName}.domain.dto.${subClassName}Dto;
#end
import com.xueyi.common.web.entity.mapper.${Entity}Mapper;
import com.xueyi.common.datasource.annotation.${sourceMode};

/**
 * ${functionName}管理 数据层
 *
 * @author ${author}
 */
@${sourceMode}
public interface ${ClassName}Mapper extends ${Entity}Mapper${generics} {
}