package ${packageName}.mapper;

import java.util.List;
import com.xueyi.common.datascope.annotation.DataScope;
import ${packageName}.domain.${ClassName};
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end
#set($system=0)
#set($site=0)
#set($library=0)
#foreach ($column in $columns)
    #if($column.javaField == 'systemId')
        #set($system=1)
    #elseif($column.javaField == 'siteId')
        #set($site=1)
    #elseif($column.javaField == 'libraryId')
        #set($library=1)
    #end
#end
#set($method='')
#if($system==1 && $site == 0 && $library == 0)
    #set($method='S')
#elseif($system==0 && $site == 1 && $library == 0)
    #set($method='W')
#elseif($system==0 && $site == 0 && $library == 1)
    #set($method='L')
#elseif($system==1 && $site == 1 && $library == 0)
    #set($method='SW')
#elseif($system==0 && $site == 1 && $library == 1)
    #set($method='WL')
#elseif($system==1 && $site == 1 && $library == 1)
    #set($method='SWL')
#end

/**
 * ${functionName} 数据层
 *
 * @author ${author}
 */
public interface ${ClassName}Mapper {

    /**
     * 查询${functionName}列表
     * 访问控制 e 租户查询
     *
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    @DataScope(#if($method != '') ${method}eAlias = "e" )#else eAlias = "e" )#end
    public List<${ClassName}> select${ClassName}List(${ClassName} ${className});
#if($table.tree)

    /**
     * 查询${functionName}树选项列表
     * 访问控制 e 租户查询
     *
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    @DataScope(#if($method != '') ${method}eAlias = "e" )#else eAlias = "e" )#end

    public List<${ClassName}> select${ClassName}Tree(${ClassName} ${className});
#foreach($column in $columns)
#if($column.javaField == 'ancestors')

    /**
     * 根据Id查询${functionName}子集
     * 访问控制 e 租户查询
     *
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    @DataScope(#if($method != '') ${method}eAlias = "e" )#else eAlias = "e" )#end

    public List<${ClassName}> selectChildrenById(${ClassName} ${className});
#end
#end

#end
    /**
     * 查询${functionName}
     * 访问控制 e 租户查询
     *
     * @param ${className} ${functionName} | ${pkColumn.javaField} ${functionName}Id
     * @return ${functionName}
     */
    @DataScope(#if($method != '') ${method}eAlias = "e" )#else eAlias = "e" )#end

    public ${ClassName} select${ClassName}ById(${ClassName} ${className});

    /**
     * 新增${functionName}
#if($table.sub)
    * 访问控制 empty 租户更新（无前缀）()控制方法在impl层 | ${ClassName}ServiceImpl)
#else
    * 访问控制 empty 租户更新（无前缀）
#end
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
#if($table.sub)
#else
    @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

#end
    public int insert${ClassName}(${ClassName} ${className});

    /**
     * 修改${functionName}
     * 访问控制 empty 租户更新（无前缀）
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

    public int update${ClassName}(${ClassName} ${className});
#if($table.tree)
#foreach($column in $columns)
#if($column.javaField == 'ancestors')

    /**
     * 修改${functionName}子集祖籍信息
     * 访问控制 empty 租户更新（无前缀）
     *
     * @param ${className} ${functionName} | List<${ClassName}> children
     * @return 结果
     */
    @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

    public int updateChildrenAncestors(${ClassName} ${className});
#end
#end
#end
#if($table.crud || $table.sub)
#foreach ($column in $columns)
#if($column.javaField == 'sort')

    /**
     * 修改${functionName}排序
     * 访问控制 empty 租户更新（无前缀）
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
        @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

    public int update${ClassName}Sort(${ClassName} ${className});

#end
#end
#end
    /**
     * 删除${functionName}
     * 访问控制 empty 租户更新（无前缀）
     *
     * @param ${className} ${functionName} | ${pkColumn.javaField} ${functionName}Id
     * @return 结果
     */
    @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

    public int delete${ClassName}ById(${ClassName} ${className});
#if(!$table.tree)

    /**
     * 批量删除${functionName}
     * 访问控制 empty 租户更新（无前缀）
     *
     * @param ${className} ${functionName} | params.Ids 需要删除的${functionName}Ids组
     * @return 结果
     */
    @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

    public int delete${ClassName}ByIds(${ClassName} ${className});
#end
#if($table.tree)
#foreach($column in $columns)
#if($column.javaField == 'ancestors')

    /**
     * 根据Id删除${functionName}子集
     * 访问控制 empty 租户更新（无前缀）
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

    public int deleteChildrenById(${ClassName} ${className});
#end
#end
#elseif($table.sub)
#set($AttrName=$pkColumn.javaField.substring(0,1).toUpperCase() + ${pkColumn.javaField.substring(1)})

    /**
     * 批量新增${subTable.functionName}
     * 访问控制 empty 租户更新（无前缀）
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

    public int batch${subClassName}(${ClassName} ${className});

    /**
     * 通过${functionName}Id删除${subTable.functionName}信息
     * 访问控制 empty 租户更新（无前缀）
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

    public int delete${subClassName}By${AttrName}(${ClassName} ${className});

    /**
     * 批量删除${subTable.functionName}
     * 访问控制 empty 租户更新（无前缀）
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    @DataScope(#if($method != '') ${method}ueAlias = "empty" )#else ueAlias = "empty" )#end

    public int delete${subClassName}By${AttrName}s(${ClassName} ${className});
#end
}